apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-rown
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-rown
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-rown
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-rown
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-rown
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-pxgv-tenant/rhtap-demo-app/hacbs-test-project-rown@sha256:b58702d32ac87b0293050ce9f2a7847f5306bc7079b96d8d8fd9b40abf1a3196
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
